<!DOCTYPE html>
<html>
<head>
  <title>Such Shop</title>

   <link href="https://fonts.googleapis.com/css?family=Roboto&Montserrat:400,700" rel="stylesheet">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

   <link href="/styles/normalize.css" rel="stylesheet">
   <link href="/styles/main.css" rel="stylesheet">
</head>

<body>
  <header class="main-header">
    <a href="/" class="brand">Such Shop</a>
    <a href="/basket">Basket (<%= Shop::BASKET.items.size %>)</a>
  </header>

  <%= styled_flash %>

  <main class="main-content">
    <%= yield %>
  </main>
</body>
</html>
