<main class="product-details">
  <img src="/<%= @product.image %>" class="product-photo">

  <h1><%= @product.name %></h1>

  <% if @warehouse.in_stock?(@product) %>
    <h2 class="product-price"><%= @product.formatted_price %> zł</h2>

    <form action="/basket/add" method="post">
      <input type="hidden" name="product_id" value="<%= @product.id %>">

      <label for="quantity"></label>
      <input type="number" name="quantity" value="1" id="quantity" class="quantity-input">

      <input type="submit" value="Add to basket" class="btn">
    </form>
  <% else %>
    <h2 class="product-price">OUT OF STOCK</h2>
  <% end %>
</main>
